<div class="container">
  <div class="connection">
    <h3>계정 연결 코드</h3>
    <p class="connection--text">
      텔레그램 계정 연결을 위하여, '<%= ENV.fetch("CHATBOT_LANGUAGE_KO") { '파이썬' } %> 챗봇' 텔레그램 봇에게 아래의 코드를 전송하세요.
    </p>
    <div class="connection--code-wrapper">
      <% current_user.connection_code.split('').each do |c| %>
        <span class="connection--code-char"><%= c %></span>
      <% end %>
    </div>
    <div class="connection--button">
      <a href="" id="connection--button" class="btn btn-outline-success disabled connection--pending" data-code="<%= current_user.connection_code %>">
        <span>인증 대기</span>
        <div class="border--spinner"></div>
      </a>
    </div>
  </div>
</div>
