// Public

label {
  &.required {
    &::after {
      content: ' *';
      color: $oc-red-6;
    }
  }
}

// CodeMirror
.readonly-editor {
  .CodeMirror-cursor {
    display: none !important
  }
}

.height-auto {
  .CodeMirror {
    height: auto;
  }
}

.hide {
  display: none !important;
}


// Bot
.bot {
  padding-top: 3rem;
  padding-top: 3rem;

  &--label {
    // font-weight: 700;
  }

  &--message {
    color: $oc-gray-6;
    border: $border-width solid $oc-gray-2;
    padding: $input-btn-padding-y $input-btn-padding-x;
    line-height: $input-btn-line-height;
  }

  &--result {
    border-top: $border-width solid $border-color;
    padding: $input-btn-padding-y 0;
    font-family: $font-family-monospace;
  }

  &--button {
    a {
      margin-right: 0.5rem;
    }
  }
}

// Connection
.connection {
  padding-top: 5rem;
  padding-bottom: 5rem;

  text-align: center;

  &--text {
    color: $oc-gray-6;
  }

  &--code-wrapper {
    padding-top: 3rem;
    padding-bottom: 3rem;

    span {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  &--code-char {
    font-size: 2rem;
    color: $oc-gray-7;
    border: $border-width solid $border-color;
    padding: $input-btn-padding-y $input-btn-padding-x;
  }

  &--pending {
    margin-top: 1rem;
    color: $oc-gray-6;
  }
}
